*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px
}

#btn{
    padding: 10px;
}
#url{
    padding: 10px;
}